# Игнорируем виртуальное окружение
.venv/
venv/

# Игнорируем файлы Python-кэша
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем настройки редакторов
.idea/
.vscode/
*.swp

# Файлы окружения (секретные ключи, токены и т.д.)
.env
*.env

# Логи
logs/
*.log

